*{
    padding: 0;
    margin: 0;
}
body{
    
    font-family: 'Roboto', sans-serif;
}
.first_section{
    padding: 0 100px;
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.first_div{
    width: 50%;
    margin-top: 50px;
    
}
.item{
    width: 90%;
}
h1{
    font-size: 45px;
    line-height: 70px;
}
h2{
    margin-top: 30px;
}
.name{
    color: rgb(0, 153, 128);
}
.text{
    margin-top: 30px;
    font-size: 18px;
    letter-spacing: 0.7px;
    color: rgb(92, 92, 92);
}
.second_div{
    width: 50%;
}
.second_div img{
    width: 70%;
    margin-left: 10%;
}

.button{
    margin-top: 20px;
    color: white;
    background: linear-gradient(45deg, lightsalmon, tomato);
    padding: 11px 35px;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}